.about-title {
  background: #f5f5f5;
  min-height: 200px;
  z-index: 100;
  position: relative;
  letter-spacing: 3px;
  font-size: 50px;
  color: black;
}
.about-title::before {
  content: "আমাদের সম্পর্কে";
  position: absolute;
  font-size: 7.5rem;
  color: red;
  font-weight: 400;
  z-index: -10;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #3ba34a47;
}

@media (max-width: 768px) {
  .cont-title {
    min-height: 0;
  }
  .about-title::before {
    font-size: 6rem;
  }
}
@media (max-width: 576px) {
  .about-title {
    font-size: 2rem;
  }
  .about-title::before {
    font-size: 3.5rem;
  }
}
