@import url("https://fonts.maateen.me/bensen/font.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-color {
  color: #3ba34a;
}
.fw-400 {
  font-weight: 700 !important;
}
body {
  font-family: "BenSen";
  position: relative;
}
.bg-clight {
  background-color: #e5ffe9;
}
.bg-clight2 {
  background-color: #d2f9d8;
}
.items {
  font-weight: 600;
  color: #000;
  font-size: 20px;
  padding: 0 15px !important;
}
.nav-item:hover .items {
  color: #3ba34a;
  transition: all 0.3s;
}
.actives {
  color: #3ba34a !important;
}
.cw {
  width: 75%;
}
.btn2 {
  border: none;
  outline: none;
  display: none;
}
.btn2 i {
  font-size: 25px;
  color: #3ba34a;
}
.icon {
  height: 30px;
  width: 30px;
  border: 1px solid #3ba34a;
  border-radius: 50%;
  background-color: #e5ffe9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon i {
  color: red;
}
.wrapper {
  opacity: 0;
}

@media (max-width: 1200px) {
  .cw {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .res-nav {
    width: 300px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    padding: 0 15px;
    transition: all 0.3s ease !important;
    z-index: 999;
    border: 1px solid;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .res-nav2 {
    display: flex;
    flex-direction: column !important;
  }
  .wrapper {
    display: block;
  }
  .items {
    padding: 0 !important;
  }
  .btn2 {
    display: block;
  }
}
